<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
</head>
<body>
    <h2>Restaurant</h2>
    <a href="/menu">Menü</a>
</body>
</html>